

body {
  background-color: #f2f1ea;
  font-family: 'Barlow Semi Condensed', sans-serif;
  line-height: 25px
}

h1 {
  font-weight: 200;
  font-size: 40px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: rgba(1,0,0,0.7);
}

h2 {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 200;
  color: rgba(1,0,0,0.7);
}

h3 {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 200;
  color: rgba(1,0,0,0.7);
}

p {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 200;
  font-size: 110%
  color: rgba(1,0,0,0.2);
}

a:link {
  color: rgba(30,0,0,0.9);
  font-weight: 200;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover;  {
  color: color: rgba(10,0,0,0.4);
}


.container {
  width: 800px;
  margin: 0 auto;
}

.card-white {
  background-color: white;

  padding: 20px;
  margin: 30px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  box-shadow: rg;
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
  margin: 20px;

}

.card-light-grey {
  padding: 20px;
  margin: 30px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
  margin: 20px;
  background-color: rgba(0,0,0,0.1);

}

.card-light-grey-thin {
  padding: 1px;
  margin: 5px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 4px;
  margin: 5px 0px;
  text-align: center;
  margin: 5px;
  background-color: rgba(0,0,0,0.1);

}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

